*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(ITACHI.jpg);
    background-size: cover;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.3);
}
nav ul li
{
    display: inline;
    list-style-type: none;  
    margin: 0 50px;
    font-size: 20px;
}
.logo
{
    font-size: 50px;
    font-weight: 900;
    margin-right: 400px;
    margin-left: 190px;
}
header
{
    background-color: skyblue ;
    color: white;
    border: none;
    background-size: auto;
}
.box
{
    margin: 0;
    padding: 0;
    color: white;
    margin: 250px auto;
    text-align: center;
    width: 1200px;
}
.button1
{   
    margin-left: 10px;
    background-color: skyblue;
    color: white;
    border: none;
    height: 100px;
    width: 190px;
    font-size: larger;
    border-radius: 10px;
}
h1
{
    font-size: 60px;
}
p
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-large;
}
.button2
{
    margin-left: 10px;
    background-color: white;
    color: skyblue;
    border: none;
    height: 100px;
    width: 190px;
    font-size: larger;
    border-radius: 10px;

}
